[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.6"
django-environ = "*"
djangorestframework = "~=3.14"
django-phonenumber-field = "*"
phonenumbers = "*"
django-cors-headers = "*"
django-multiselectfield = "*"
djangorestframework-simplejwt = "*"
requests = "*"
mysqlclient = "*"
mod-wsgi = "*"
django-autoslug = "*"
django-mptt = "*"
django-measurement = "*"
python-magic = "*"
drf-extra-fields = "*"

[dev-packages]

[requires]
python_version = "3.11"
